

body{background-image: url("https://wallpaper.dog/large/20493136.jpg");}

/* header styles */

* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}

html {
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
}

.navbar a {
  margin-top: 150px;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 55rem;
  transition: .3s;
  font-family: 'Poppins',sans-serif;

}
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-color);
  padding-left: 1px;
  font-size: 5rem;
  margin-top: 100px;
  margin-left: 200px;

}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 3.5rem;
  height: 5rem;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .btn:hover {
  color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}
.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--bg-color);
  z-index: -1;
  transition: .5s;
}
.btn-box .btn:hover::before {
  width: 100%;
}
.home-sci {
  position: relative;
  bottom: 2rem;
  width: 1270px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  margin-left: 50px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
    height: 50px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 20%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.home-sci a:hover {
  color: var(--text-color);
}
.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}
.home-sci a:hover::before {
  width: 100%;
  background: var(--second-bg-color);
}



.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* start cards */


.wrap {
  width:500px;
  margin:300px;
  margin-top:130px;

}

.columns {
  border:7px groove;
  border-width:3px;
  padding:10px;
  border-color:gray;
  color:black;
  width:280px;
  height:368px;
}

.wolf:hover {
  box-shadow:10px 16px 16px 0 rgba(0,0,0,2);
}

.Eagle:hover {
  box-shadow:10px 16px 16px 0 rgba(0,0,0,2);
}
  
.Tiger:hover {
  box-shadow:10px 16px 16px 0 rgba(0,0,0,2);
}

.wolf {
  padding:30px;
  transition:0.4s;
  width:300px;
  text-align:left;
  margin:20px;
  margin-top:1px;
  background: linear-gradient(to bottom, #ffffff 0%, #cc0000 85%);
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border:2px groove;
  border-width:3px;
  border-radius:1px;
  border-color:var(--second-bg-color);
  height:700px;

}

.Eagle {
  padding:30px;
  transition:0.4s;
  width:300px;
  text-align:left;
  float:left;
  margin:20px;
  margin-top:1px;
  background: linear-gradient(to bottom, #ffffff 0%, #0099ff 85%);
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border:2px groove;
  border-width:3px;
  border-padding:1px;
  border-color:var(--second-bg-color);
  box-height:300px;
  margin-bottom:130px;
  height:700px;
}

.Tiger {
  padding:30px;
  transition:0.4s;
  width:300px;
  text-align:left;
  float:left;
  margin:20px;
  margin-top:1px;
  background: linear-gradient(to bottom, #ffffff 0%, #006600 85%);
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border:2px groove;
  border-width:3px;
  border-padding:1px;
  border-color:var(--second-bg-color);
  box-hight:300px;
  margin-bottom:130px;
  height:700px;
}

p.intro {
  margin-top:1px;
  font-style: italic;
  color: black;
}

span { 
  font-weight:bold;
  color:var(--second-bg-color);
}

img {
  border: 6px solid var(--bg-color);
  width:294px;
  height:190px;
  margin:-1px;
} 

h2 {color:rgb(0, 0, 0);
  font-size:30px;
}

h3 {color:black;
  font-size:27px;
}

.about {color:white;
}

p {color:white;
}

h1 {color:black;
  size:10px;
  height:20px;
}

/* Scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color:rgb(255, 255, 255);
  box-shadow: black 2px 4px 6px;
  box-shadow: #112e42 2px 5px 5px 2px inset, #00abf0 0px 0px 6px 6px inset;
  border: 1px solid #00abf0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: dotted;
  height: 13px;
  width: 20px;
  background-color: #050505;
  border: 1px dotted #00abf0;
  border-radius: 1em;
  box-shadow: #112e42 2px 2px 1px 0px inset, #00abf0 0px 0px 6px 6px inset;
}

/* styles for card on screen */

/* Add this media query at the bottom of your existing CSS code */

@media (max-width: 768px) {
  body {
    padding-top: 80px; /* Adjust this value based on your header's height */
  }

  .header {
    padding: 10px;
  }

  .logo {
    font-size: 15px;
  }
  #menu-icon {
    display: block;
}

  .navbar {
    display: flex; /* Hide the navbar on small screens */
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 3px; /* Adjust this value based on your header's height */
    left: 159%;
    z-index: 99;
  }

  .navbar a {
    display: block;
    font-size: 20px;
    margin: 3px 0;
    transform: translateX(-20rem);
    transition: .25s ease;
    transition-delay: 0s;
}

  #menu-icon {
    display: block;
  }

  .wrap {
    flex-direction: column;
    width: auto;
    margin: 10px;
  }

  .columns {
    width: auto;
    margin: 8px;
    height: 430px;
    color: var(--bg-color);
  }



  .wolf,
  .Eagle,
  .Tiger {
    width: auto;
    margin: 10px;
    height: 750px;
  }

  .Eagle {
    margin-left: 20px;
  }

  .Tiger {
    margin-left: 20px;
  }

  img {
    border: 6px solid var(--bg-color);
    width:275px;
    height:190px;
    margin:-1px;
  } 
  
  h1 {color:black;
    font-size:25px;
  }

  h2 {color:black;
    font-size:25px;
  }
  
  h3 {color:black;
    font-size:25px;
  }
  
  .about {color:white;
  }
  
  p {color:white;
  }
  
  
}

@media (max-width: 1298px) {

  body {
    padding-top: 80px; /* Adjust this value based on your header's height */
  }

  .header {
    padding: 25px;
  }

  .logo {
    top:-500px;
    font-size: 50px;
    font-family: 'Poppins',sans-serif;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: transparent;
    left: 0%;
    z-index: 99;
  }
  .navbar a {
    margin-top: 90px;
    font-size: 25px;
    color: var(--text-color);
    font-weight: 60;
    margin-left: 3rem;
    transition: .3s;
  
  }
  .home-sci {
    position:fixed;
    bottom: 55rem;
    width: auto;
    display: flex;
    justify-content: space-between;
  }
.home-sci a {
    margin-left: 400px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 20%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  .wrap {
    width: 20px;
    margin: 10px;
  }

  h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: flex;
    margin-left: 20px;
    font-size: 30px;
  }
  .columns {
    width: auto;
    margin: 8px;
    height: 830px;
    color: var(--bg-color);
  }

  .wolf,
  .Eagle,
  .Tiger {
    width: 800px;
    margin: 10px;
    height: 1500px;
  }

  .Eagle {
    margin-left: 20px;
  }

  .Tiger {
    margin-left: 20px;
  }

  img {
    border: 6px solid var(--bg-color);
    width:780px;
    height:460px;
    margin:-1px;
  } 
  
  h1 {color:black;
    font-size:45px;
  }

  h2 {color:black;
    font-size:45px;
  }
  
  h3 {color:black;
    font-size:45px;
  }
  
  .about {color:white;
  }
  
  p {color:white;
    font-size: 35px;
  }
}

/* home */


