@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

:root {
  --bg-color: #0b0c10;
  --primary-color: #00f7ff;
  --accent-color: #1f2833;
  --text-color: #ffffff;
  --font-main: 'Orbitron', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  padding-bottom: 100px;
}

/* Header */
.header {
  background:var(--bg-color);
  padding: 1.2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 20px #00f7ff;
}

.header .logos img {
  height: 40px;
}

.navbar a {
  font-size: 1.6rem;
  color: #ededed;
  margin-left: 3rem;
  text-transform: uppercase;
  transition: 0.3s ease;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 5px #00f7ff44;
}

.navbar a:hover,
.navbar a.active {
  color: #00f7ff;
  text-shadow: 0 0 8px #00f7ff;
}


/* Game Headers */
h1.barrel,
h3.h3,
h4.h4 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-color);
  text-shadow: 0 0 15px var(--primary-color);
  margin: 150px auto 20px;
}

h2.h2 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--text-color);
  margin: 10px auto 20px;
}

iframe {
  display: block;
  margin: 0 auto 40px;
  width: 90%;
  max-width: 1000px;
  height: 360px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-color);
}

/* Swordline */
.swordline {
  height: 5px;
  background-image: linear-gradient(
    to right,
    transparent 10%,
    var(--primary-color) 50%,
    transparent 90%
  );
  background-repeat: no-repeat;
  background-size: 100% 100px;
  background-position: 0 center;
  margin: 40px auto;
}

/* About Paragraph */
.about {
  text-align: center;
  font-size: 1.4rem;
  color: var(--primary-color);
  max-width: 900px;
  margin: 30px auto 50px;
  padding: 0 20px;
  line-height: 1.8;
}

/* Footer */
.footer {
  background: var(--accent-color);
  margin-bottom: -180px;
  padding: 30px 0;
  text-align: center;
  color: var(--primary-color);
  font-size: 1.3rem;
  box-shadow: 0 -10px 20px var(--primary-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--accent-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #66fcf1;
}

/* Responsive */
@media (max-width: 768px) {
  h1.barrel,
  h3.h3,
  h4.h4 {
    font-size: 2.2rem;
  }

  h2.h2 {
    font-size: 1.3rem;
  }

  .about {
    font-size: 1.2rem;
  }

  iframe {
    height: 300px;
  }

  .navbar a {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
}
